@tailwind base;
@tailwind components;
@tailwind utilities;


.text-\[12px\] {
    font-size: 12px;
    color: black;
}


.space-y-3> :not([hidden])~ :not([hidden]) {
    --tw-space-y-reverse: 0;
    margin-top: calc(0.75rem * calc(1 - var(--tw-space-y-reverse)));
    margin-bottom: calc(0.75rem * var(--tw-space-y-reverse));
    color: rgb(0, 0, 0);
}


.detailsButton {
    color: black;
    background-color: rgba(98, 100, 100, 0.264);
}